body {
    background-color: bisque;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    background-color: bisque;
}

#container div {
    height: 300px;
    width: 500px;
    background-color: antiquewhite;
    margin: 30px;
    text-align: center;
    border-radius: 40px;
    overflow: hidden; /* Assure que le contenu ne dépasse pas les bords arrondis */
    box-shadow: #0b0a0a;
}

#container div img {
    width: 100%; /* L'image prend toute la largeur du conteneur */
    height: auto; /* Maintient le ratio d'aspect de l'image */
    border-radius: 40px 40px 0 0; /* Coins arrondis en haut */
    max-width: max-content;
}

#container div p {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
}