@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration:0;
    color:#5a5a5A;
}

img {
    cursor: pointer;

}
flex-div {
    display: flex;
    align-items: center;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/img.png) no-repeat;
    image-orientation: initial;
    background-size: cover;
    background-position: center;

}